.App {
  text-align: center;
}
body {
  background-color: grey;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: block;
  align-items: center;
  width: 300px;
}
input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
label {
  margin-bottom: 5px;
}

.ebay-items {
  border: 2px solid #ff00ff;
  width: 70%;
  display: block;
  padding: 10px;
  margin: 5px;
}
.random-item {
  border: 2px solid #ff00ff;
  width: 50%;
  display: block;
  padding: 10px;
  margin: 5px;
}

.cart-item {
  border: 2px solid #ff00ff;
  width: 70%;
  padding: 15px;
  display: block;
  margin: 5px;
}
img {
  width: 225px;
  height: 225px;
}
.market-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  margin: 0 5px;
}
.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: 100px;
}
.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-links {
  list-style-type: none;
  display: flex;
  padding: 12px 24px;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  width: 37%;
}

.nav-links li {
  margin-right: 10px;
}
.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #333; /* Add border style */
  border-radius: 5px;
  background-color: #ff00ff;
}
.nav-links a:hover {
  background-color: #00ff55;
}

.active-link {
  background-color: #333;
  color: #fff;
}
.browse-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Four columns with equal width */
  justify-content: center; /* Center items horizontally */
  margin-left: 100px;
}
.cart-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Four columns with equal width */
  justify-content: center; /* Center items horizontally */
  margin-left: 100px;
  margin-top: 10px;
}
.home-title {
  font-family: "Arial", sans-serif;
  font-size: 48px;
  color: #ff00ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, #00fffb, #00ff55);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 50px;
}
h3 {
  font-family: "Arial", sans-serif;
  color: #ff00ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, #00fffb, #00ff55);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.add-button {
  display: inline-block;
  padding: 12px 24px;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  background-color: #ff00ff;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}
.add-button:hover {
  background-color: #00ff55;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
h2 {
  font-family: "Arial", sans-serif;
  color: #ff00ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, #ff00ff, #070707);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
