.App {
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: block;
  align-items: center;
  width: 300px;
}
input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
label {
  margin-bottom: 5px;
}

.ebay-items {
  border: 2px solid #e41212;
  width: 70%;
  display: block;
  padding: 10px;
  margin: 5px;

}
.random-item {
  border: 2px solid #e41212;
  width: 50%;
  display: block;
  padding: 10px;
  margin: 5px;
}

.cart-item {
  border: 2px solid #e41212;
  width: 70%;
  padding: 15px;
  display: block;
  margin: 5px;
}
img {
  width: 225px;
  height: 225px;
}
.market-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  margin: 0 5px;
}
.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
}
.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-links {
  list-style-type: none;
  display: flex;
  padding-top: 10px;
}
.nav-links li {
  margin-right: 10px;
}
.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #333; /* Add border style */
  border-radius: 5px;
}
.nav-links a:hover {
  background-color: #f1f1f1;
}

.active-link {
  background-color: #333;
  color: #fff;
}
.browse-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Four columns with equal width */
  justify-content: center; /* Center items horizontally */ 
  margin-left: 100px;
}
.cart-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Four columns with equal width */
  justify-content: center; /* Center items horizontally */ 
  margin-left: 100px;
  margin-top: 10px;
}